.main-content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    transition-property: padding-left;
    transition-duration: 300ms;
    height: auto !important;
    min-height: 100%;

}

.increase-width-animation {
    padding-left: 50px !important;
}

@media (min-width: 1px) and (max-width: 768px) {
    .increase-width-animation {
        padding-left: 0 !important;
    }

}

@media (min-width: 768px) {
    .main-content {
        padding-left: 160px;
    }
}

.content {
    background-color: rgba(153, 216, 118, 0.7);
    padding: 15px;
    margin: 5px;
    height: 83vh;
    overflow: auto;
    border-radius: 5px;
}