<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="details">
        <div class="head-details">
            <h3>
                <span>{{selectTask.title}}</span>
                <div class="buttons">
                    <span *ngIf="selectTask.user.id==authUserId&&!selectTask.completed" (click)="completeTask()"
                          class="glyphicon glyphicon-ok-circle"></span>
                    <span *ngIf="selectTask.user.id==authUserId&&selectTask.completed" (click)="notCompleteTask()"
                          class="glyphicon glyphicon-remove-circle"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span *ngIf="selectTask.user.id==authUserId" data-toggle="dropdown"
                          class="dropdown-toggle glyphicon glyphicon-cog"></span>
                    <ul *ngIf="selectTask.user.id==authUserId" class="dropdown-menu dropdown-menu-right">
                        <li *ngIf="!selectTask.completed" (click)="completeTask()"><a>Пометить как выполненную</a></li>
                        <li *ngIf="selectTask.completed" (click)="notCompleteTask()"><a>Отменить выполнение</a></li>
                        <li><a (click)="openEditTask()">Редактировать(*)</a></li>
                        <li><a (click)="dismissUser()">Отказаться от выполнения</a></li>
                        <li class="divider"></li>
                        <li *ngIf="makerProjectId==authUserId"><a (click)="deleteTask()">Удалить</a></li>
                        <li *ngIf="makerProjectId!=authUserId"><a href="#">Пожаловаться(*)</a></li>
                    </ul>
                    <span class="glyphicon glyphicon-remove"
                          (click)="closeDetailWindow()" data-toggle="tooltip"
                          data-placement="left" title="Закрыть"></span>
                </div>
            </h3>
        </div>
        <div class="body-details">
            <div class="description">{{selectTask.description}}</div>
            <p class="maker">Ответственный
                <span>@{{selectTask.user.username}}</span>
                , назначен 21.02.2017 17:53</p><!--тут будет инфа с сервера-->
        </div>
    </div>
</div>