.left-menu {
    background-color: #222222;
    position: fixed;
    height: 100%;
    width: 200px;
}

.left-menu-hidden{
    background-color: #222222;
    position: fixed;
    height: 100%;
    width: 20px;
}