<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 back" style="position: relative">
      <h3>Список контактов</h3>
      <span class="find-user" data-toggle="modal" data-target="#modalOfFindContacts">Поиск</span>
      <ul>
        <li *ngFor="let user of contacts">
          <div class="item" (click)="router.navigate(['/pages/user/' + user.id]);">
            <span>{{user.username}}</span>
            <button class="btn-sm btn btn-default del-contact" (click)="removeFromContact(user.id, $event)">Удалить из
              контактов
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="modal" id="modalOfFindContacts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                #closeModal>&times;
        </button>
        <h4 class="modal-title" id="myModalLabel">Поиск пользователей</h4>
      </div>
      <div class="modal-body">
        <form role="form" class="form-horizontal" (ngSubmit)="findUsers()">
          <div class="form-group">
            <label class="col-sm-4 col-sm-offset-1">Имя пользователя</label>
            <input class="col-sm-6" type="text" (ngModelChange)="findUsers(search.value)" name="finderUsers"
                   [(ngModel)]="findUserName" #search/>
          </div>
        </form>
        <div class="found-users">
          <ul>
            <li *ngFor="let userF of foundUsers">
              <div *ngIf="userF.user" class="item item-find" (click)="clickByUser(userF.user.id)">
                <span>{{userF.user.username}}</span>
                <button *ngIf="!userF.isFriend" class="btn-sm btn btn-default del-contact" (click)="addInContact(userF, $event);">
                  Добавить в контакты
                </button>
                <button *ngIf="userF.isFriend" class="btn-sm btn btn-default del-contact"
                        (click)="removeFromContact(userF.user.id, $event, userF);">
                  Удалить из контактов
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
