div.container-fluid {
    padding: 0;
}

.all-tasks {
    background-color: rgba(231, 244, 219, 0.85);
    border: 1px solid #6edd5e;
}

.all-tasks ul {
    list-style-type: none;
    padding: 1px 1px 1px 1px;
    margin: 1px
}

.all-tasks > ul > li {
    border-bottom: 1px solid #296424;
    opacity: 0.8;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
}

.all-tasks > ul > li:last-child,
.all-tasks > ul > li:last-child:hover {
    border-bottom: none;
}

.all-tasks > ul > li:hover {
    border-bottom: 1px solid #296424;
    opacity: 1;
    background-color: #d4ddd4;
}

.head-tasks > h3 {
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #6edd5e;
}

.all-tasks > ul > li:first-child,
.all-tasks > ul > li:first-child:hover {
    background-color: rgba(231, 244, 219, 0.85);
}

#titleOfNewTask {
    width: 70%;
}

.single-task {
    position: relative;
}

.task {
    width: 75%;
}

.single-task > div{
    display: inline-block;
}

.title{
    display: inline-block;
}

.body-details {
    padding: 5px;
    font-size: 17px;
}

.maker{
    border-bottom: 1px solid #dddddd;
}

.details {
    position: relative;
    background-color: rgba(231, 244, 219, 0.85);
    border: 1px solid #6edd5e;
}

.buttons {
    display: inline-block;
    position: absolute;
    right: 5%;
}

.head-details > h3{
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #6edd5e;
    min-height: 47px;
}

.not-completed {
    width: 17px;
    height: 17px;
    display: inline-block;
}

.not-completed > div{
    background-color: #ff090e;
    width: 12px;
    height: 12px;
    margin: 5px 5px 0 0;
}

.completed {
    width: 17px;
    height: 17px;
    display: inline-block;
}

.completed > div {
    width: 12px;
    height: 12px;
    margin: 5px 5px 0 0;
    background-color: #0cab46;
}

.user-maker {
    display: inline-block;
    position: absolute;
    right: 2%;
    font-size: 12px;
    padding-top: 5px;
}

.user-maker > span {
    font-size: 15px;
}

#newTaskDescription {
    width:100%;
}

#newTaskMakerId {
    width:100%;
}

.buttons > span{
    opacity: 0.4;
}

.buttons > span:hover{
    opacity: 0.95;
}