<div class="container-fluid">
    <div class="rows">
        <div class="col-xs-12 col-md-6 col-lg-6"
             [ngClass]="{'col-sm-8 col-sm-offset-2 col-md-offset-3 col-lg-offset-3': !isOpenDetails&& !isViewInput,
             'col-sm-6':isViewInput||isOpenDetails}">
            <div class="all-tasks">
                <div class="head-tasks">
                    <h3>{{project&&project.title}}</h3>
                </div>
                <ul>
                    <li *ngIf="!isViewInput&&project&&project.user&&project.user.id==authUserId" (click)="setTrueIsViewInput();">
                        <span class="glyphicon glyphicon-plus"></span> Добавить новую задачу...
                    </li>
                    <li *ngIf="isViewInput&&project&&project.user&&project.user.id==authUserId">
                        <form (ngSubmit)="addNewTask()">
                            <input type="text" name="titleOfNewTask" id="titleOfNewTask"
                                   [(ngModel)]="newTask.title" autofocus #inputOfAddNewTask>
                            <button type="submit" class="btn btn-success btn-sm"
                                    [disabled]="inputOfAddNewTask.value==''">
                                ОК
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="cancelAddNewTask();">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </form>
                    </li>
                    <li *ngFor="let task of tasks">
                        <div class="single-task">
                            <div class="task" (click)="openDetailWindow(task)">
                                <div [ngClass]="{'not-completed': !task.completed, 'completed': task.completed}">
                                    <div></div>
                                </div>
                                <div class="title">
                                    {{task.title}}
                                </div>
                            </div>
                            <div *ngIf="task.user.id" class="user-maker">
                                @{{task.user.username}}
                            </div>
                            <div *ngIf="!task.user.id" class="user-maker">
                                <span class="dropdown-toggle glyphicon glyphicon-plus-sign"
                                      data-toggle="dropdown"></span>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Закрепиться</a></li>
                                    <li *ngIf="project&&project.user&&project.user.id==authUserId"><a href="#">Закрепить пользователя</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="isOpenDetails" [ngClass]="{'col-xs-12 col-sm-6 col-md-6 col-lg-6': isOpenDetails}">
            <div class="details">
                <div class="head-details">
                    <h3>
                        <span>{{selectTask.title}}</span>
                        <div class="buttons">
                            <span *ngIf="selectTask.user.id==authUserId" class="glyphicon glyphicon-ok-circle"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span *ngIf="selectTask.user.id==authUserId" data-toggle="dropdown"
                                  class="dropdown-toggle glyphicon glyphicon-cog"></span>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Пометить как выполненную</a></li>
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Отказаться от выполнения</a></li>
                                <li class="divider"></li>
                                <li *ngIf="project.user.id==authUserId"><a href="#">Удалить</a></li>
                                <li *ngIf="project.user.id!=authUserId"><a href="#">Пожаловаться</a></li>
                            </ul>
                            <span class="glyphicon glyphicon-remove"
                                  (click)="closeDetailWindow()"></span>
                        </div>
                    </h3>
                </div>
                <div class="body-details">
                    <p class="maker">Ответственный: @{{selectTask.user.username}}</p>
                    <p>Описание: {{selectTask.description}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="isViewInput" [ngClass]="{'col-xs-12 col-sm-6 col-md-6 col-lg-6': isViewInput}">
            <div class="details">
                <div class="head-details">
                    <h3>
                        <span>{{newTask.title}}</span>
                        <div class="buttons">
                            <span class="glyphicon glyphicon-remove" (click)="cancelAddNewTask()">
                            </span>
                        </div>
                    </h3>
                </div>
                <div class="body-details">
                    <form>
                        <div class="form-group">
                            <label for="newTaskMakerId">Ответственный</label>
                            <input id="newTaskMakerId" type="text" [(ngModel)]="newTask.user.username" name="newTaskMakerId">
                        </div>
                        <div class="form-group">
                            <label for="newTaskDescription">Описание</label><br>
                            <textarea id="newTaskDescription" [(ngModel)]="newTask.description"
                                      name="newTaskDescription"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>