<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 changed-col">
    <div class="project">
        <div>
            <div class="head-project">
                <h2 (click)="open()" class="open" data-toggle="tooltip"
                    data-placement="left" title="Открыть проект">
                    {{project.title}}
                </h2>
                <span class="favourites dropdown-toggle" data-toggle="dropdown">
                    </span>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Добавить в избранное(*)</a></li>
                    <li data-toggle="modal" data-target="#modalOfContacts"><a>Добавить пользователя</a></li>
                    <li class="divider"></li>
                    <li><a (click)="deleteProject()">Удалить</a></li>
                </ul>

            </div>
            <div class="progress modification">
                <div class="progress-bar" role="progressbar" #progressBar aria-valuenow="60" aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="description">
            {{project.description}}
        </div>
        <div class="users-info">
            <div class="all-users">
                <span class="glyphicon glyphicon-user"></span> {{project.numberOfUsers}}
            </div>
            <div>
                <p class="maker-user"><i>@{{project.user.username}}</i></p>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalOfContacts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                #closeModal>&times;</button>
        <h4 class="modal-title" id="myModalLabel">Пользователи проекта</h4>
      </div>
      <div class="modal-body">
        <form role="form" class="form-horizontal" (ngSubmit)="addUsersInProject()">
          <div class="form-group">
            <label class="control-label col-sm-8 col-sm-offset-2" *ngFor="let friend of contacts">{{friend.contact.username}}
            <input type="checkbox" [checked]="friend.isTeam" value="{{friend.contact.id}}" (changed)="changedMember(friend)"/>
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>pm
</div>
