<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 changed-col">
    <div class="project">
        <div (click)="open()" class="open">
            <div class="head-project">
                <h2> Название нашего проекта<span class="glyphicon glyphicon-star-empty favourites"></span></h2>
            </div>
            <div class="progress modification">
                <div class="progress-bar" role="progressbar" #progressBar aria-valuenow="60" aria-valuemin="0"
                     aria-valuemax="100" style="width: 60%;">
                </div>
            </div>
        </div>
        <div class="users-info">
            <div class="all-users">
                <span class="glyphicon glyphicon-user"></span> {{project.numberOfUsers}}
            </div>
            <div>
                <p class="maker-user"><i>@userNameMaker</i></p>
            </div>
        </div>
    </div>
</div>