.project {
    background-color: #5bc0de;
    border-radius: 7px;
    cursor: default;
    user-select: none;
    margin-bottom: 5px;
}

.project h2 {
    font-size: 18px;
    margin: 3px 30px 8px 20px;
    text-align: center;
}

.open:hover {
    cursor: pointer;
}

.favourites {
    position: absolute;
    top: 7px;
    right: 20px;
    opacity: 0.35;
    font-size: 20px;
}

.favourites:hover {
    opacity: 0.9;
    color: azure;
    background-color: #6496de;
    border-radius: 4px;
}

.favourites:before {
    content: "\b7\b7\b7";
}

.head-project {
    padding: 10px 10px 0 0;
    position: relative;
}

.modification {
    height: 8px;
    margin-bottom: 1px;
}

.modification div {
    transition-property: background-color, width;
    transition-duration: 1s;
}

.users-info {
    font-size: 16px;
    padding: 3px 10px 0 10px;
}

.users-info:after {
    clear: both;
}

.all-users {
    float: left;
}

.maker-user {
    text-align: right;
    margin-bottom: 0;
}

.maker-user i {
    opacity: 0.4;
}

.maker-user i:hover {
    opacity: 1;
}

.changed-col {
    padding-left: 5px;
    padding-right: 5px;
}

.description {
    margin: 3px 5px 3px 5px;
    padding: 2px 5px 2px 5px;
    background-color: #71bfde;
    border-radius: 3px;
    font-size: 13px;
    max-height: 60px;
    overflow: auto;
    min-height: 58px;
}

.show-alert {
    display: block !important;
    background-color: red;
}