.left-menu {
    background-color: #222222;
    position: fixed;
    height: 100%;
    width: 160px;
}

.left-menu-hidden {
    background-color: #222222;
    position: fixed;
    height: 100%;
    width: 50px;
}

.animation {
    transition-property: width;
    transition-duration: 200ms;
}

.menu {
    width: 100%;
    margin: 20px 0 5px 15px;
}

.line > p {
    display: inline-block;
    margin: 0;
}

.line {
    color: white;
    font-size: 18px;
    opacity: 0.4;
    margin: 5px 0 10px 0;
}

.line:hover {
    opacity: 0.95;
  cursor: pointer;
}

.sandwich {
    display: inline-block;
    margin-top: 2px;
    height: 16px;
    width: 18px;
}

.layer {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 4px;
    background-color: white;
    height: 2px;
}
