.toggle-menu {
    width: 30px;
    height: 4px;
    background-color: #9d9d9d;
    margin: 6px 0;
}

.toggle-menu-center:hover .toggle-menu {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
}

.toggle-menu-center {
    padding-top: 7px;
}

.navbar-text {
    margin: 0 15px 0 15px;
    padding: 15px;
}

@media (max-width: 768px) {
    .navbar-text{
        padding-left: 0;
    }
}

.navbar-text:hover {
    color: white;
    cursor: pointer;
}
