.toggle-menu {
    width: 30px;
    height: 4px;
    background-color: #9d9d9d;
    margin: 6px 0;
}

.toggle-menu-center:hover .toggle-menu {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
}

.toggle-menu-center {
    padding-top: 7px;
}

.navbar-text {
    margin: 0 10px 0 10px;
    padding: 10px;
}

@media (max-width: 768px) {
    .navbar-text {
        padding-left: 0;
    }
}

.navbar {
    min-height: 30px;
}

.navbar-text:hover {
    color: white;
    cursor: pointer;
}

.navbar-brand {
    height: 30px;
    padding: 10px 15px;
}

.navbar-nav>li>a{
    padding: 10px 10px 5px 10px;
}

.navbar-toggle {
    padding:4px 10px;
}

.navbar-toggle .icon-bar {
    width: 18px;
}
